@font-face {
	font-family: "Exo 2";
	src: url("exo_2.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Exo 2";
	src: url("exo_2-italic.ttf");
	font-style: italic;
	font-display: swap;
}

:root {
	background: #000006 url("background.svg") 100% 100%;

	color: #FFF;
	font-family: "Exo 2", sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;

	box-sizing: border-box;
	margin: 0;
	padding: 32px;

	display: grid;
	grid-template-rows: auto max-content;
	gap: 32px;
}

main {
	justify-self: center;
	align-self: center;

	max-width: 1024px;

	display: grid;
	gap: 32px;
}

.group {
	display: grid;
	gap: 32px;
}

section {
	background: #FFFFFF08;
	backdrop-filter: blur(2px);
	padding: 16px;
	border-radius: 8px;
	box-shadow: 0 0 16px #0000FF3F;
	border: 1px solid #00007F3F;
}

h1 {
	text-align: center;
	margin-top: 0;
}

p {
	margin: 0;
}

#accounts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 64px));
	justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 32px;
}

.account img {
	display: block;
	width: 32px;
	height: 32px;
	margin: auto;
	padding-bottom: 8px;
}

h3 {
	display: inline-block;
	margin-top: 4px;
}

.green-tag,.orange-tag,.blue-tag,.red-tag,.gray-tag {
	width: max-content;
	float: right;
	border-radius: 8px;
	padding: 4px 16px 4px 16px;
	cursor: pointer;
	margin-left: 16px;
}

.green-tag {
	background: green;
	border: 1px solid lightgreen;
}

.orange-tag {
	background: orangered;
	border: 1px solid orange;
}

.red-tag {
	background: darkred;
	border: 1px solid red;
}

.blue-tag {
	background: darkblue;
	border: 1px solid blue;
}

.gray-tag {
	background: dimgray;
	border: 1px solid lightgray;
}

footer {
	align-self: end;

	display: grid;
	justify-items: center;
	align-items: center;
	gap: 32px;
}

#credit * {
	display: block;
	text-align: center;
}

a:visited {
	color: #00AAFF;
}

a {
	color: #00AAFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 1024px) {
	header {
		grid-template-columns: minmax(min-content, auto) 196px;
	}
}

@media (min-width: 768px) {
	#projects {
		grid-template-columns: 1fr 1fr;
	}

	footer {
		grid-template-columns: repeat(3, 1fr);
	}
}
