@font-face {
	font-family: "Exo 2";
	src: url("exo_2.ttf");
	font-display: swap;
}

@font-face {
	font-family: "Exo 2";
	src: url("exo_2-italic.ttf");
	font-style: italic;
	font-display: swap;
}

:root {
	background: #000006 url("background.svg") 100% 100%;

	color: #FFF;
	font-family: "Exo 2", sans-serif;
}

body {
	width: 100vw;
	min-height: 100vh;

	box-sizing: border-box;
	margin: 0;
	padding: 32px;

	display: grid;
	grid-template-rows: auto max-content;
	gap: 32px;
}

main {
	justify-self: center;
	align-self: center;

	display: grid;
	gap: 32px;
}

.group {
	display: grid;
	gap: 32px;
}

section {
	position: relative;
	transform-style: preserve-3d;

	background: #FFFFFF08;
	backdrop-filter: blur(2px);
	padding: 8px;
	border-radius: 8px;
}

section .shadow {
	position: absolute;
	inset: -8px;
	border: 8px solid #0000;
	border-radius: 24px;
	mask: linear-gradient(#000 0, #000 0) content-box, linear-gradient(#000 0, #000 0);
	mask-composite: exclude;
	transform: translateZ(-1px);
	pointer-events: none;
}

@property --angle {
	syntax: "<angle>";
	inherits: true;
	initial-value: 0;
}

section .shadow::before {
	content: "";
	position: absolute;
	inset: 0;
	border-radius: 16px;
	background: conic-gradient(
		from var(--angle),
		hsl(360, 100%, 50%),
		hsl(315, 100%, 50%),
		hsl(270, 100%, 50%),
		hsl(225, 100%, 50%),
		hsl(180, 100%, 50%),
		hsl(135, 100%, 50%),
		hsl(90, 100%, 50%),
		hsl(45, 100%, 50%),
		hsl(0, 100%, 50%)
	);
	filter: blur(4px);
}

h1 {
	text-align: center;
}

#accounts {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 64px));
	justify-content: center;
	justify-items: center;
	align-items: center;
	gap: 32px;
}

.account img {
	display: block;
	width: 32px;
	height: 32px;
	margin: auto;
	padding-bottom: 8px;
}

h3 {
	display: inline-block;
}

.green-tag,.orange-tag,.blue-tag,.red-tag,.gray-tag {
	width: max-content;
	float: right;
	border-radius: 8px;
	padding: 4px 16px 4px 16px;
	cursor: pointer;
	margin-left: 16px;
}

.green-tag {
	background: green;
	border: 1px solid lightgreen;
}

.orange-tag {
	background: orangered;
	border: 1px solid orange;
}

.red-tag {
	background: darkred;
	border: 1px solid red;
}

.blue-tag {
	background: darkblue;
	border: 1px solid blue;
}

.gray-tag {
	background: dimgray;
	border: 1px solid lightgray;
}

footer {
	align-self: end;

	display: grid;
	justify-items: center;
	align-items: center;
}

#credit * {
	display: block;
	text-align: center;
}

a:visited {
	color: #00AAFF;
}

a {
	color: #00AAFF;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

@media (min-width: 1024px) {
	header {
		grid-template-columns: minmax(min-content, 768px) 196px;
	}

	main {
		min-width: 768px;
	}
}

@media (min-width: 768px) {
	#projects {
		grid-template-columns: 1fr 1fr;
	}

	footer {
		grid-template-columns: repeat(3, 1fr);
	}
}
